{% extends 'base.html' %}

{% block head %}
<title>SCE Mood Poll</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">How are you feeling?</h1>
    <h1 style="text-align: center"> {{user.localId}}</h1>
    <table>
        <tr>
            <th>
                <div class="form">
                    <form action="/" method="POST">
                        <input type="hidden" name="content" value="Happy">
                        <input type="image" alt="Happy" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/1280px-SNice.svg.png" height="100" width="100">
                    </form>
                </div>
            </th>
            <th>
                <div class="form">
                    <form action="/" method="POST">
                        <input type="hidden" name="content" value="Sad">
                        <input type="image" alt="Sad" src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Sad_face.svg" height="100" width="100">
                    </form>
                </div>
            </th>
        </tr>
    </table>
</div>
{% endblock %}